/* -------------------initialisation-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fond-de-cite: #E8E9EB;
    --font-title: 'Roboto Slab', serif;
    --font-text: 'Roboto Slab', sans-serif;
    --color-size-text: 1rem;
    --color-font: #000000ef;
    --color-nav-bar: #3460B1;
    --font-weight-title: 600;
    --font-weight-text: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--fond-de-cite);
}

/*----------------------------navbar-dekstop------------------------------------*/
.navbar-dekstop {
    display: none;
    background-color: var(--color-nav-bar);
    text-align: center;
    height: 30px;
}

.navbar-dekstop a {
    background-color: var(--color-nav-bar);
    color: var(--fond-de-cite);
    font-style: var(--font-title);
    padding: 1%;
    font-family: var(--font-title);
}

/*----------------------------navbar-mobile------------------------------------*/

.navbar-mobile i {
    z-index: 900;
    font-size: 40px;
    position: fixed;
    right: 10px;
    top: 0;
}

.nav-list-mobile {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: var(--fond-de-cite);
    transition: top 0.5s;
}

.nav-list-mobile a {
    background-color: var(--fond-de-cite);
    color: var(--color-nav-bar);
    font-family: var(--font-title);
    font-weight: bolder;
}

.fa-bars {
    color: #3460b1;
}

.list-visible {
    top: 0;
}

.icon-visible {
    color: var(--fond-de-cite);
}

/* --------------------------------------infocontact ------------------------*/
.description {
    display: grid;
    width: 100%;
    height: auto;
    grid-auto-rows: minmax(10px, auto)
}

.info {
    display: grid;
    width: 95%;
    height: auto;
    font-family: var(--font_text);
    text-align: center;
    font-size: 1.5rem;
    color: rgba(42, 42, 42, 0.33);
    font-style: normal;
    font-weight: var(--font-weight-title);
    line-height: 125%;
    padding: 1rem;
}

.line {
    width: 70%;
    height: 2px;
    background: var(--color-nav-bar);
    justify-self: center;
    align-self: center;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: var(--font-text);
    width: 95%;
    height: auto;
    font-weight: var(--font-weight-text);
    color: var(--color-font);
    padding: 1.25rem
}

div p {
    display: grid;
    padding: 2%;
    line-height: 1.5rem;
}

.semi-title {
    font-weight: var(--font-weight-title);
    line-height: 1.5rem;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15%);
}

.fa-brands {
    padding: 25%;
    text-align: center;
}

.fa-linkedin {
    color: #0077b5;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #222222;
}

.fa-pinterest {
    color: #c8232c;
}

.fa-github {
    color: #171515;
}

.fa-x-twitter {
    color: #000000;
}

/* ----------------------------------------Experience + carousel---------------------------------------------------------  */
.container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
    font-family: var(--font-title);
    font-weight: var(--font-weight-title);
    font-size: 2rem;
    margin-top: 1rem;
}

.experience {
    text-align: center;
    font-family: var(--font-text);
    font-weight: var(--font-weight-text);
    font-size: 1.5rem;
    margin: 1rem;
    flex: 0 0 100%;
    padding: 10px;
    box-sizing: border-box;
    display: none;
}

.job {
    padding: 0.5rem 0;
}

.companyCity {
    padding: 0.5rem 0;
}

.date {
    padding: 0.5rem 0;
}



.learnmore {
    display: inline-block;
    font-size: 0.75rem;
}

.whatIDo {
    display: none;
}

.carousel {
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.carousel.active-slide-0 { transform: translateX(0%); }
.carousel.active-slide-1 { transform: translateX(-100%); }
.carousel.active-slide-2 { transform: translateX(-200%); }

.experience.active {
    display: block;
}

.carousel-buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prev-button,
.next-button, .prev-buttonF, .next-buttonF  {
    display: flex;
    padding: 5px 10px;
    background-color: var(--fond-de-cite);
    color: var(--color-nav-bar);
    border: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 3rem;
}

.containerLine {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line2 {
    display: flex;
    width: 70%;
    height: 2px;
    background: var(--color-nav-bar);
}

/* ----------------------formations ------------------------------------*/
.formation {
    text-align: center;
    font-family: var(--font-text);
    font-weight: var(--font-weight-text);
    font-size: 1.5rem;
    margin: 1rem;
    flex: 0 0 100%;
    padding: 10px;
    box-sizing: border-box;
    display: none;
}

.formation.active {
    display: block;
}


/* -------------------media queries pour + 780 px--------------------- */
@media screen and (min-width:780px) {
    .navbar-dekstop {
        display: block;
    }

    .navbar-mobile {
        display: none;
    }

    .description {
        grid-template-columns: 1fr 1fr;
    }

    .info {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: auto;
    }

    .line {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .contact {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    img {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
        border-radius: 0 50%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        height: auto;
    }

    .logo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .fa-brands {
        padding: 25%;
        text-align: center;
        font-size: 2rem;
    }
}