/* -------------------initialisation-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fond-de-cite: #E8E9EB;
    --font-title: 'Roboto Slab', serif;
    --font-text: 'Roboto Slab', sans-serif;
    --color-size-text: 1rem;
    --color-font: #000000ef;
    --color-nav-bar: #3460B1;
    --font-weight-title: 600;
    --font-weight-text: 400;
}

* {
    margin: 0;
    padding: 0;
    background-color:var(--fond-de-cite);
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--fond-de-cite);
}

/*----------------------------navbar-dekstop------------------------------------*/
.navbar-dekstop {
    display: none;
    background-color: var(--color-nav-bar);
    text-align: center;
    height: 30px;
}

.navbar-dekstop a {
    background-color: var(--color-nav-bar);
    color: var(--fond-de-cite);
    font-style: var(--font-title);
    padding: 1%;
    font-family: var(--font-title);
}

/*----------------------------navbar-mobile------------------------------------*/

.navbar-mobile i {
    z-index: 900;
    font-size: 40px;
    position: fixed;
    right: 10px;
    top: 0;
}

.nav-list-mobile {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: var(--fond-de-cite);
    transition: top 0.5s;
}

.nav-list-mobile a {
    background-color: var(--fond-de-cite);
    color: var(--color-nav-bar);
    font-family: var(--font-title);
    font-weight: bolder;
}

.fa-bars {
    color: #3460b1;
}

.list-visible {
    top: 0;
}

.icon-visible {
    color: var(--fond-de-cite);
}

/* --------------------------------------infocontact ------------------------*/
.description {
    display: grid;
    width: 100%;
    height: auto;
    grid-auto-rows: minmax(10px, auto)
}

.description > h1 {
    display: none;
}

.description > h2 {
    display: none;
}

.info {
    display: grid;
    width: 95%;
    height: auto;
    font-family: var(--font_text);
    text-align: center;
    font-size: 1.5rem;
    color: grey;
    font-style: normal;
    font-weight: var(--font-weight-title);
    line-height: 125%;
    padding: 1rem;
}

.line {
    width: 70%;
    height: 2px;
    background: var(--color-nav-bar);
    justify-self: center;
    align-self: center;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: var(--font-text);
    width: 95%;
    height: auto;
    font-weight: var(--font-weight-text);
    color: var(--color-font);
    padding: 1.25rem
}

div p {
    display: grid;
    padding: 2%;
    line-height: 1.5rem;
}

.semi-title {
    font-weight: var(--font-weight-title);
    line-height: 1.5rem;
}

.Odile {
    width: 100%;
    height: auto;
}

.logo {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15%);
}

.fa-brands {
    padding: 25%;
    text-align: center;
}

.fa-linkedin {
    color: #0077b5;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #222222;
}

.fa-pinterest {
    color: #c8232c;
}

.fa-github {
    color: #171515;
}

.fa-x-twitter {
    color: #000000;
}

/* ----------------------------------------Experience + carousel---------------------------------------------------------  */
.container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

h2 {
    text-align: center;
    font-family: var(--font-title);
    font-weight: var(--font-weight-title);
    font-size: 2rem;
    margin-top: 1rem;
}

.experience {
    text-align: center;
    font-family: var(--font-text);
    font-weight: var(--font-weight-text);
    font-size: 1.5rem;
    margin: 1rem;
    flex: 0 0 100%;
    padding: 10px;
    box-sizing: border-box;
    display: none;

}
.experience.active {
    display: block;
}


.job {
    padding: 0.5rem 0;
}

.companyCity {
    padding: 0.5rem 0;
}

.date {
    padding: 0.5rem 0;
}

.learnmore {
    display: inline-block;
    font-size: 0.75rem;
    border: none;
    background-color: var(--fond-de-cite);
}

.whatIDo {
    display: none;
}

.carousel.active-slide-0 { transform: translateX(0%); }
.carousel.active-slide-1 { transform: translateX(-100%); }
.carousel.active-slide-2 { transform: translateX(-200%); }
/* ----------------------------------------------Softskills-------------------------------------------------------------- */

.softskills {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows:  repeat(4, 1fr);
    font-weight: bold;
}

.carousel {
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}


.references {
    flex: 0 0 100%;
    margin: 1rem;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    text-align: center;
    font-family: var(--fond-text);
    font-weight: var(--font-weight-text);
    font-size: 1.5rem;
}
.references.active {
    display: block;
}

.carousel-buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prev-button,
.next-button, .next-buttonR,.prev-buttonR, .prev-buttonF, .next-buttonF  {
    display: flex;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--color-nav-bar);
    border: none;
    cursor: pointer;
    margin: 0 5px;
}
.skill {
    grid-column: 1 /12;
    padding: 10px;
}

#Gestion {
    grid-row: 1/2;
}

#Curiosité {
    grid-row: 4/5;
}

#Travail {
    grid-row: 10/11;
}

#Adaptabilité {
    grid-row: 13/15;
}

.bar1 {
    display: grid;
    align-items: center;
    grid-row: 1;
    grid-column: 20/35;
    height: 50%;
}

.b11 {
    grid-column: 20/23;
    grid-row: 2;
    height: 45%;
    background-color: var(--color-nav-bar);
}

.b12 {
    grid-column: 24/27;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.b13 {
    grid-column: 28/31;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.b14 {
    grid-column: 32/35;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.b15 {
    grid-column: 36/39;
    grid-row: 2;
    background-color: #919192;
    height: 45%;
}

.bar2 {
    display: grid;
    align-items: center;
    grid-row: 2;
    grid-column: 20/35;
    height: 50%;
}

.b21 {
    grid-column: 20/23;
    grid-row: 2;
    height: 45%;
    background-color: var(--color-nav-bar);
}

.b22 {
    grid-column: 24/27;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.b23 {
    grid-column: 28/31;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.b24 {
    grid-column: 32/35;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.b25 {
    grid-column: 36/39;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.bar3 {
    display: grid;
    align-items: center;
    grid-row: 4;
    grid-column: 20/35;
    height: 50%;
}

.b31 {
    grid-column: 20/23;
    grid-row: 2;
    height: 45%;
    background-color: var(--color-nav-bar);
}

.b32 {
    grid-column: 24/27;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.b33 {
    grid-column: 28/31;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.b34 {
    grid-column: 32/35;
    grid-row: 2;
    background-color: #919192;
    height: 45%;
}

.b35 {
    grid-column: 36/39;
    grid-row: 2;
    background-color: #919192;
    height: 45%;
}

.bar4 {
    display: grid;
    align-items: center;
    grid-row: 10;
    grid-column: 20/35;
    height: 50%;
}

.b41 {
    grid-column: 20/23;
    grid-row: 2;
    height: 45%;
    background-color: var(--color-nav-bar);
}

.b42 {
    grid-column: 24/27;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.b43 {
    grid-column: 28/31;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.b44 {
    grid-column: 32/35;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

.b45 {
    grid-column: 36/39;
    grid-row: 2;
    background-color: var(--color-nav-bar);
    height: 45%;
}

/* ----------------------------------------References---------------------------------------------------------  */

.container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

.referent {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.next-button, .next-buttonF {
    right: 0;
}

.prev-button, .prev-buttonF {
    left: 0;
}
.containerLine {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line2 {
    display: flex;
    width: 70%;
    height: 2px;
    background: var(--color-nav-bar);
}

/* ----------------------formations ------------------------------------*/
.formation {
    text-align: center;
    font-family: var(--font-text);
    font-weight: var(--font-weight-text);
    font-size: 1.5rem;
    margin: 1rem;
    width: 95%;
    padding: 0.5rem 0;
    flex: 0 0 100%;
    padding: 10px;
    box-sizing: border-box;
    display: none;

}

.formation.active {
    display: block;
}
/*-----------------------------------------------------Portfolio-----------------------------------------------------------------*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
}

.slide-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}

.slide-img img {
    width: 100%;
    height: 300px;
}

.slide-img figcaption{
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 12;
    color: black;
    font-weight: var(--font-weight-text);
    font-size: 40px;
    text-shadow: white 1px 0 10px;
    transform : translateY(-50%);
    background-color: transparent;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 0;
}

[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

/* -------------------media queries pour + 780 px--------------------- */
@media screen and (min-width:780px) {
    .navbar-dekstop {
        display: block;
    }

    .navbar-mobile {
        display: none;
    }


    .description {
        grid-template-columns: 1fr 1fr;
    }

    .description > h1 {
        color: var(--color-font);
        display: grid;
        grid-column: 1 2 ;
        grid-row: 1 2;
        width: auto;
        font-weight: var(--font-weight-title);
        font-family: var(--font-title);
        text-align: center;
        font-size: 2.5rem;
        align-self: center;
    }
    .description > h2 {
        display: grid;
        grid-column: 1 2;
        grid-row: 2 3;
        margin-top: 0;
        align-self: center;
}
    .info {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 3 4;
        width: auto;
        padding: 0;
        align-self: center;
    }

    .line {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .contact {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .Odile {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 7;
        border-radius: 0 50%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        height: auto;
    }

    .logo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .fa-brands {
        padding: 25%;
        text-align: center;
        font-size: 2rem;
    }

    .learnmore {
        display: none;
    }

    .whatIDo {
        display: flex;
    }

}

/*-------------------------------------------------Portfolio-----------------------------------------------------------*/

.cards-container {
    display: flex;
}
.card {
    position: relative;
    left: 0px;
}
.card:not(:first-child) {
    margin-left: -50px;
}
.card:hover {
    transform: translateY(-20px);
}
.card:hover ~ .card {
    left: 50px;
}


